.first-block {
    background: #FFDA6A;
    border-radius: 8px;
    font-size: 35px;
    font-style: Verdana;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-size-description {
    font-size: 25px;
    text-align: justify;
    background: #FFF3CD;
    border-radius: 8px;
}