.first-block {
    background: #FFDA6A;
    border-radius: 8px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0.8;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-size-description {
    font-size: 30px;
    text-align: justify;
    background: #FFF3CD;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-size-paragraph {
    font-size: 35px;
    background: #FFE5D0;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.statistics{
    font-size: 25px;
    background: #A3CFBB;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.stat-blue{
    background: #17A2B8;
    border-radius: 30px;;
    width:880px;
    height: 30px;
}
.stat-red{
    background: #DC3545;
    border-radius: 30px;
    width: 1140px;
    height: 30px;
}
.text-center{
    text-align: center;
}
.stat-yellow{
    background: #FFC107;
    border-radius: 30px;
    width: 940px;
    height: 30px;
}
.stat-green{
    background: #28A745;
    border-radius: 30px;
    width: 1220px;
    height: 30px;
}